###> symfony/framework-bundle ###
/backend/.env
/backend/public/bundles/
/backend/var/
/backend/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/backend/node_modules/
/backend/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
